body{
    background-color:  hsl(275, 100%, 97%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: WorkSans;
}
.bImag-1{
    display: block;
}
.bImag-2{
    display: none;
}
.container{
    height:auto;
    background-color: hsl(0, 0%, 100%);
    width: 20em;
    padding: 10px;
    border-radius: 0.5em;
    margin-top: -60px;
}
.heading{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.text{
    display:flex;
    flex-direction:column;

}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ans{
    display: none;
    font-size: 12px;
}
h5:hover{
    color:  hsl(292, 50%, 59%);
    cursor: pointer;
}
.minus{
    display:none;
}
.plus{
    cursor: pointer;
}
.minus{
    cursor: pointer;
}

@font-face {
    font-family: WorkSans;
    src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
}

@media screen and (min-width:481px){
    .bImag-1{
       display: none;
    }
    .bImag-2{
    display: block;
    }

    .container{
        height:auto;
        background-color: hsl(0, 0%, 100%);
        width: 30em;
        padding: 20px;
        border-radius: 0.5em;
        margin-top: -60px;
    }

}
